In [2]:
def muls(a,b):
    if a*b<=1000:
        print(f'the result is {a*b}')
    else:
        print(f'the result is {a+b}')
muls(50,30)

the result is 80

In [3]:
prev=0
for i in range(10):
    print(i,prev,i+prev)
    prev=i

0 0 0
1 0 1
2 1 3
3 2 5
4 3 7
5 4 9
6 5 11
7 6 13
8 7 15
9 8 17

In [44]:
#str---even index---::2
ins='kamalakannan'
for i in ins[::2]:
    print(i)

k
m
l
k
n
a

In [5]:
#remove n char--str--(a[n:])
def sal(a,n):
    print(a[n:])
sal("kamlasjs",2)

mlasjs

In [7]:
#check 1 and last number are same in lst
aa=[1,2,3,43,1]
def chk(a):
    if a[0]==a[-1]:
        print('result is true')
    else:
        print('result is false')
        
chk(aa)

result is true

In [9]:
v= [10, 20, 33, 46, 55]
for i in v:
    if i%5==0:
        print(i)

10
20
55

In [10]:
[i for i in v if i%5==0]

[10, 20, 55]

In [12]:
#s.count()
s="Return the count the of a given substring from a string"
s.count("the")

2

In [26]:
#pattern
for i in range(5):  #rows
    for j in range(i+1): #colum incr rep
        print(i+1,end=' ') #start 1 and space
    print('') #next line

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [27]:
def pal(a):
    if a==int(str(a)[::-1]):
        print("palindrome number")
    else:
        print("not palindrome")
pal(151)

palindrome number

In [28]:
def pal(a):
    if a==str(a)[::-1]:
        print("palindrome ")
    else:
        print("not palindrome")
pal("mam")

palindrome

In [33]:
#odd 1 list #even 2 list
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

op=[]
for i in list1:
    if i%2!=0:
        op.append(i)
for j in list2:
    if j%2==0:
        op.append(j)
print(op)

[25, 35, 40, 60, 90]

In [39]:
#reverse order integer
a=1478
' '.join(str(a)[::-1])

'8 7 4 1'

In [44]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=' ')
    print(' ')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [49]:
#Half-Pyramid Pattern-star
for i in range(5): 
    for j in range(5-i):
        print('*',end=' ')
    print('')

* * * * *
* * * *
* * *
* *
*

In [50]:
2**5

32

In [52]:
def expon(base,exp):
    print(base**exp)
expon(20,10)

10240000000000

# input and output exercise

In [ ]:
Exercise 1: Accept numbers from a user
Exercise 2: Display three string “Name”, “Is”, “Jeevan” as “Name Is Jeevan”
Exercise 3: Convert Decimal number to octal using print() output fo
Display float number with 2 decimal places using print()
Exercise 5: Accept a list of 5 float numbers as an input from the user
Exercise 6: Accept any three string from one input() call

In [ ]:
a=int(input("enter number"))
b=int(input("enter number"))
print(" the output",a*b)

In [ ]:
data=(“Name”, “Is”, “Jeevan”)
'**'.join(data)

In [40]:
num=9
oct(num)

'0o11'

In [41]:
a=152.23699
round(a,2)

152.24

In [42]:
lis=[]
for i in range(5):
    lis.append(float(input("enter number")))

enter number56
enter number654
enter number477
enter number10
enter number2230

In [ ]:
a,b,c=input("enter name").split(',')
print(a,b,c)

In [ ]:
a=1
while a<11:
    print(a)
    a+=1

In [ ]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end=' ')
    print(' ')

In [ ]:
def sum(a):
    output=0
    for i in range(1,a+1):
        output+=i
    print(output)
summing(10)

In [ ]:
d=int(input("eneter number"))
for i in range(1,11):
    print(i*d)

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i>=500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

In [33]:
a=56987
count=0
while a>0:
    count+=1
    a//=10  #main
    
print(count)

5

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
for i in range(5):
    for j in range(6-i):
        print(j,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [32]:
for i in range(5):
    for j in range(5-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [34]:
lst1=[10, 20, 30, 40, 50]
lst1.reverse()
lst1
[i for i in lst1[::-1]]

[10, 20, 30, 40, 50]

In [35]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [36]:
for i in range(5):
    print(i)
else:
    print('Done!')

0
1
2
3
4
Done!

In [39]:
#prime number 
a=20
b=45
for i in range(a,b+1):
    for j in (2,i):
        if i%j==0:
            break
    else:
        print(i)

In [ ]:
#odd index[1::2]

In [6]:
from collections import Counter
l1=[1,2,3,1,2,5,67]
a=Counter(l1)
print(a)

Counter({1: 2, 2: 2, 3: 1, 5: 1, 67: 1})

In [10]:
print("duplicate nos:",list([i for i in a if a[i]>1]) )

duplicate nos: [1, 2]

In [45]:
pip install pandoc

Collecting pandocNote: you may need to restart the kernel to use updated packages.
  Downloading pandoc-2.3.tar.gz (33 kB)
Collecting plumbum
  Downloading plumbum-1.8.2-py3-none-any.whl (127 kB)
Requirement already satisfied: ply in c:\users\kamal\anaconda3\lib\site-packages (from pandoc) (3.11)
Requirement already satisfied: pywin32 in c:\users\kamal\anaconda3\lib\site-packages (from plumbum->pandoc) (302)
Building wheels for collected packages: pandoc
  Building wheel for pandoc (setup.py): started
  Building wheel for pandoc (setup.py): finished with status 'done'
  Created wheel for pandoc: filename=pandoc-2.3-py3-none-any.whl size=33282 sha256=c2870a986b6ee892e50acc73ac2851a34fc6a3c94c3d8863246ee3e2f320b1d9
  Stored in directory: c:\users\kamal\appdata\local\pip\cache\wheels\69\e6\a1\1daa96d919c9e09a71473649b717b8da286f3f8d7719d1cfc5
Successfully built pandoc
Installing collected packages: plumbum, pandoc
Successfully installed pandoc-2.3 plumbum-1.8.2

WARNING: Ignoring invalid distribution -atplotlib (c:\users\kamal\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\kamal\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\kamal\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\kamal\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\kamal\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\kamal\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\kamal\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\kamal\anaconda3\lib\site-packages)